/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Nov-2019, 01:14:07
    Author     : OMISTAJA
*/
body.relative {
    position: relative;
    left: 100px;
}
